
      <div class="show-item">
        <%= image_tag @item.image, class:"show-item-image" if @item.image.attached? %>
        <div class="show-item_name">
          <%= @item.item_name %>
        </div>
        <div class="show-item_rating">
          <%= @item.rating.name %>
        </div>
        <div class="show-item_category">
          category: <%= @item.category.name %>
        </div>
        <div class="show-item-description">
          <%= @item.description %>
        </div>
        <div class="show-item-user">
          <%= link_to @item.user.nickname, "/users/#{@item.user.id}", class: "show-item-username" %>
          <div class="show-item-userinfo">
            年齢＊<%= @item.user.age.name %><br>
            パーソナルカラー＊<%= @item.user.personal_color.name %><br>
            肌の色＊<%= @item.user.skin_color.name %><br>
            肌タイプ＊<%= @item.user.skin_type.name %><br>
            顔タイプ＊<%= @item.user.face_type.name %><br>
            メイク傾向＊<%= @item.user.makeup_type.name %><br>
          </div>
        </div>

        <% if user_signed_in? && current_user.id == @item.user_id %>
          <div class="show-btn-area">
            <%= link_to "edit", edit_item_path(@item.id), method: :get, class: "show-item-btn" %>
            <%= link_to "delete", item_path(@item.id), method: :delete, class:"show-item-btn" %>
          </div>
        <% end %>
      </div>
