<!DOCTYPE html>
<html>
  <head>
    <title>Sharedresser</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header_bar">
        <div class="header_logo">
          <a href="/" class="header">ShareDresser</a>
        </div>
        <% if user_signed_in? %>
          <div class="header_right">
            <div class="header_botton">
              <%= link_to current_user.nickname, "/users/#{current_user.id}", class: "header" %>
            </div>
            <div class="header_botton">
              <%= link_to 'log out', destroy_user_session_path, method: :delete, class: "header" %>
            </div>
            <div class="header_botton">
              <%= link_to "POST", new_item_path, class: "header" %>
            </div>
          </div>
        <% else %>
          <div class="header_right">
            <div class="header_botton">
              <%= link_to 'Join', new_user_registration_path, class: "header" %>
            </div>
            <div class="header_botton">
              <%= link_to 'log in', new_user_session_path, class: "header" %>
            </div>
          </div>
        <% end %>
      </div>
    </header>
    <%= yield %>
      <footer>
        <div class="footer_bar">
          <p>ShareDresser 2023.</p>
        </div>
      </footer>
  </body>
</html>
